body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f9;
}

.sidebar {
    width: 220px;
    height: 100vh;
    background: #502c4c;
    position: fixed;
    padding: 20px;
    color: white;
}

.sidebar h2 {
    text-align: center;
}

.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-top: 5px;
    background: #c45eb8;
    border-radius: 5px;
}

.sidebar a:hover {
    background: #bcb41a;
}


.content {
    margin-left: 260px;
    padding: 30px;
}

.box {
    background: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 6px;
}
.card {
    width: 220px;
    height: 330px; /* Tinggi seragam */
    background: #fff;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Menjaga tombol di bawah */
    text-align: center;
}

.card-img {
    height: 100px; /* Gambar seragam */
    object-fit: contain; /* Tidak distorsi */
    margin-bottom: 10px;
}

.card-title {
    font-size: 16px;
    font-weight: bold;
    min-height: 40px; /* Tinggi tetap agar rata */
    margin-bottom: 5px;
}


.harga {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.btn-beli {
    background: #28a745;
    border: none;
    padding: 8px 0;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}

.btn-beli:hover {
    opacity: 0.8;
}


input {
    padding: 8px;
    width: 250px;
}


